<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <script></script>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<h1>~<%=title%>~</h1>
<form id="myForm">
    帐号：<input type="text" name="username"/><br/><br/>
    密码：<input type="password" name="password"/><br/><br/>
    <input type="button" value="注册" node-type="register" /> &nbsp; <input type="button" value="登录" node-type="submit"/>
</form>
<script src="/js/jquery.js"></script>
<script src="/js/login.js"></script>
</body>
</html>