/**
 * Created by luowei5 on 2015/7/3.
 * Mail luowei5@jd.com
 * Update 2015/7/3
 */

#myForm{
    width: 500px;
    text-align: center;
    margin: 0px auto;
}
h1{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    color: #00B7FF;
}